In [13]:
import pandas as pd
filepath=("Desktop/Machine Learning/E mail marketing/email_table.csv")

In [14]:
df=pd.read_csv(filepath)

In [16]:
df.columns

Index(['email_id', 'email_text', 'email_version', 'hour', 'weekday',
       'user_country', 'user_past_purchases'],
      dtype='object')

In [17]:
df.head()

,email_id,email_text,email_version,hour,weekday,user_country,user_past_purchases
0,85120,short_email,personalized,2,Sunday,US,5
1,966622,long_email,personalized,12,Sunday,UK,2
2,777221,long_email,personalized,11,Wednesday,US,2
3,493711,short_email,generic,6,Monday,UK,1
4,106887,long_email,generic,14,Monday,US,6

In [20]:
rows, columns=df.shape
print(f"Total Rows: {rows}")
print(f"Total Columns: {columns}")

Total Rows: 100000
Total Columns: 7

In [21]:
filepath1=("Desktop/Machine Learning/E mail marketing/email_opened_table.csv")

In [22]:
df1=pd.read_csv(filepath1)

In [23]:
rows, columns=df1.shape
print(f"Total Rows: {rows}")
print(f"Total Columns: {columns}")

Total Rows: 10345
Total Columns: 1

In [30]:
df1.columns

Index(['email_id'], dtype='object')

In [24]:
filepath2=("Desktop/Machine Learning/E mail marketing/link_clicked_table.csv")

In [25]:
df2=pd.read_csv(filepath2)

In [27]:
rows, columns=df2.shape
print(f"Total Rows: {rows}")
print(f"Total Columns: {columns}")

Total Rows: 2119
Total Columns: 1

In [31]:
df2.columns

Index(['email_id'], dtype='object')

In [29]:
                                       "Code to find the duplicate values in df"
column_name="email_id"
duplicates = df[df.duplicated(subset=[column_name])]
print(f"Duplicate rows based on column '{column_name}':\n")
print(duplicates)

Duplicate rows based on column 'email_id':

Empty DataFrame
Columns: [email_id, email_text, email_version, hour, weekday, user_country, user_past_purchases]
Index: []

In [32]:
                                       "Code to find the duplicate values in df1"
column_name="email_id"
duplicates = df1[df1.duplicated(subset=[column_name])]
print(f"Duplicate rows based on column '{column_name}':\n")
print(duplicates)

Duplicate rows based on column 'email_id':

Empty DataFrame
Columns: [email_id]
Index: []

In [33]:
                                       "Code to find the duplicate values in df2"
column_name="email_id"
duplicates = df2[df2.duplicated(subset=[column_name])]
print(f"Duplicate rows based on column '{column_name}':\n")
print(duplicates)

Duplicate rows based on column 'email_id':

Empty DataFrame
Columns: [email_id]
Index: []

In [ ]:
                                            "Answer for the questions"

"What percentage of users opened the email and what percentage clicked on the link within the email?"

"Total Email ID used in the campaign: 1,00,000"
"Total user opened email in campaign: 10,345"
"Total user opened clicked the link in campaign: 2,119"

"percentage of users opened the email: 10.34%"
"percentage of users clicked the email link in the whole campaign: 2.11%"